body {
    font-family: 'Montserrat';
    font-style: normal;
}

.container {
    margin-top: 120px;
    box-sizing: border-box;
    position: absolute;
    width: 499px;
    /* height: 458px; */
    left: calc(50% - 499px/2 + 0.5px);
    top: calc(50% - 458px/2);
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-shadow: 4px 4px 12px -1px rgba(0, 0, 0, 0.09);
    border-radius: 27px;
    font-family: 'Montserrat';
}

.wyre_logo {
    margin-top: 40px;
    margin-left: 213px;
}

.emoji {
    margin-top: 20px;
    margin-left: 210px;
}

.text {
    justify-content: center;
    text-align: start;
    align-items: center;
    padding-top: 3px;
    padding-left: 45px;
    padding-right: 45px;
    font-family: 'Montserrat';
}

p.response_message {
    justify-content: center;
    text-align: center;
    font-weight: 100;
    font-size: 20px;
    margin-top: 35px;
    font-family: 'Montserrat';
}

 h1 {
    padding-top: 12px;
     color: #5C3592;
     font-weight: 600;
     font-size: 28px;
     line-height: 34px;
     text-align: center;
     font-family: 'Montserrat';
 }

p {
    font-weight: 400;
    margin-bottom: 10px;
    padding-bottom: 20px;
    padding-top: 0px;
    font-size: 17px;
    font-family: 'Montserrat';
}

.button_section {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    margin-bottom: 40px;
    font-family: 'Montserrat';
}

.button_1 {
    font-size: 17px;
    border-color: white;
    color: #5C3592;
    font-weight: 700;
    text-align: center;
    line-height: 18px;
}

.button_2 {
    background-color: #5C3592;
    padding: 5px 10px 5px 10px;
    color: white;
    border-radius: 17px;
    border-color: #FFFFFF;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    line-height: 18px;
}

.button_2 a {
    background-color: #5C3592;
    color: white;
}